// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include <dt-bindings/leds/common.h>
#include "meson-gxbb-p20x.dtsi"

/ {
	compatible = "amlogic,p201", "amlogic,meson-gxbb";
	model = "Q5";
	chassis-type = "embedded";

	vddio_ao18: regulator-vddio-ao18 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO18";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	leds {
		compatible = "gpio-leds";

		/*led-1 R|G led-2 B led-3 R&G*/
		led-1-red-green {
			label = "led-1-red-green";
			color = <LED_COLOR_ID_RED>;
			gpios = <&gpio_ao GPIOZ_13 GPIO_ACTIVE_LOW>;
			default-state = "off";
			panic-indicator;
		};

		led-2-blue {
			label = "led-2-blue";
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpio GPIOY_13 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "timer";
		};

		led-3-red {
			label = "led-3-red";
			color = <LED_COLOR_ID_RED>;
			gpios = <&gpio GPIOY_10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led-3-green {
			label = "led-3-green";
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&gpio GPIOY_7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&saradc {
	status = "okay";
	vref-supply = <&vddio_ao18>;
};

&aiu {
	status = "okay";
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_rmii_pins>;
	pinctrl-names = "default";
	phy-mode = "rmii";

	snps,reset-gpio = <&gpio GPIOZ_14 0>;
	snps,reset-delays-us = <0>, <10000>, <1000000>;
	snps,reset-active-low;
};
