// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include "meson-gxbb-p20x.dtsi"

/ {
	compatible = "amlogic,p201", "amlogic,meson-gxbb";
	model = "Q5";
	chassis-type = "embedded";

	vddio_ao18: regulator-vddio-ao18 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO18";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	leds {
		compatible = "gpio-leds";

		led-power {
			label = "power";
			gpios = <&gpio_ao GPIOZ_13 GPIO_ACTIVE_LOW>;
			default-state = "off";
			panic-indicator;
		};

		led-red {
			label = "red";
			gpios = <&gpio GPIOY_10 GPIO_ACTIVE_LOW>;
			default-state = "off";
			panic-indicator;
		};

		led-green {
			label = "green";
			gpios = <&gpio GPIOY_7 GPIO_ACTIVE_LOW>;
			default-state = "off";
			panic-indicator;
		};

		led-blue {
			label = "blue";
			gpios = <&gpio GPIOY_13 GPIO_ACTIVE_LOW>;
			default-state = "off";
			panic-indicator;
		};
	};
};

&saradc {
	status = "okay";
	vref-supply = <&vddio_ao18>;
};

&aiu {
	status = "okay";
};

&ethmac {
	status = "okay";
	pinctrl-0 = <&eth_rmii_pins>;
	pinctrl-names = "default";
	phy-mode = "rmii";

	snps,reset-gpio = <&gpio GPIOZ_14 0>;
	snps,reset-delays-us = <0>, <10000>, <1000000>;
	snps,reset-active-low;
};
